<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/registraion_style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Pawsitivity</title>
</head>
<body>
    <section id="main">
        <div class="nav">
            <img src="/public/image/paw.png" alt="paw-img">
            <div class="nav-inner">
                <div class="nav-content">Home</div>
                <div class="nav-content">About Us</div>
                <div class="nav-content">Services</div>
                <div class="nav-content">gallery</div>
                <div class="nav-content">Contact Us</div>
            </div>
        </div>

        <div id="que">
            Who are you?
        </div>

        <div id="btn-collection">
            <button type="submit" class="btn choice-btn btn-outline-warning">Parent</button>
            <button type="submit" class="btn choice-btn btn-outline-warning">Trainer</button>
            <button type="submit" class="btn choice-btn btn-outline-warning">Doctor</button>
            <button type="submit" class="btn choice-btn btn-outline-warning">Seller</button>
        </div>
    </section>

    <section id="contact">
        <div id="con-heading">
          Contact Us
        </div>
        <div id="con-btn">
          <div id="line-start"></div>
          <div id="con-btn-collection">
            <a class="btn btn-social-icon btn-facebook bg-light">
              <span class="fa fa-facebook"></span>
            </a>
            <a class="btn btn-social-icon btn-instagram bg-light">
              <span class="fa fa-instagram"></span>
            </a>
            <a class="btn btn-social-icon btn-google bg-light">
              <span class="fa fa-google"></span>
            </a>
            <a class="btn btn-social-icon btn-twitter bg-light">
              <span class="fa fa-twitter"></span>
            </a>
            <a class="btn btn-social-icon btn-snapchat bg-light">
              <span class="fa fa-snapchat"></span>
            </a>
          </div>
          <div id="line-end"></div>
        </div>
        <div id="copyright">Copyright © 2024 Pawsitivity</div>
      </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
<script src="https://kit.fontawesome.com/31998d0ab6.js" crossorigin="anonymous"></script>
</html>